<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>书籍</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css" />
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
<!--            <a class="brand"
               href="https://github.com/ultraq/thymeleaf-layout-dialect">
                书籍列表页 </a>-->
            <ul class="nav">
                <li><a th:href="@{/}" href="book.html"> 首页 </a></li>
            </ul>
        </div>
    </div>
    <h1 layout:fragment="header">Layout</h1>
    <div layout:fragment="content">Fake content</div>
</div>
</body>
</html>
